{% extends 'layout.html.twig' %}
{% block banner %}
<div id="banner-div">
    <h1 class="title">{{ page_title }}</h1>
    <p class="subtitle">{{ additional_info }}</p>
    <hr class="deepline"/>
</div>
    <div id="clear-div"></div>
{% endblock %}