{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
<div id="banner-div">
    <h1>{{ page_title }}</h1>
    <p>{{ additional_info }}</p>
    <hr class="deepline"/>
</div>
    <div id="clear-div"></div>
{% endblock %}