{% extends 'banner.html.twig' %}
{% block content %}
    <h1>{{ page_heading_1 }}</h1>
    <div id="inner-content-div">
        <p>You have successfully been logged out, we're sad to see you go :(</p>
        <p>It's best you close your browser tabs.</p>
    </div>
{% endblock %}