{% extends 'banner.html.twig' %}
{% block content %}
    <form>
    <h1>{{ page_heading_1 }}</h1>
    <fieldset>
        <p>Message has been Downloaded!</p>
        <a href="{{ path_for('menu') }}">Menu</a>
    </fieldset>
    <form>
{% endblock %}