{% extends 'banner.html.twig' %}
{% block content %}
    <h1>{{ page_heading_1 }}</h1>
    <div id="inner-content-div">
        <a href={{ path_for('menu') }}>Return to Menu</a>
    </div>
{% endblock %}