{% extends 'banner.html.twig' %}
{% block content %}
    <form>
        <h2>{{ page_heading_2 }}</h2>
        <p>{{ page_text }}</p>
        <fieldset>
            <label for="SiteUsername">Enter New Username:</label>
            <input id="SiteUsername" name="SiteUsername" type="text" value="" size="20" maxlength="30">
            <br><br>
            <label for="SitePassword">Enter New Password:</label>
            <input id="SitePassword" name="SitePassword" type="password" autocomplete="off" value="" size="20" maxlength="30">
            <br><br>
            <label for="ConfirmPassword">Confirm New Password:</label>
            <input id="ConfirmPassword" name="ConfirmPassword" type="password" autocomplete="off" value="" size="20" maxlength="30">
            <br><br>
            <label for="PhoneNumber">Enter New Phone Number:</label>
            <input id="PhoneNumber" name="PhoneNumber" type="text" value="" size="13" maxlength="13">
            <br><br>
            <input type="submit" value="Submit Details">
            <input type="reset" value="clear fields">
            <br><br>
            <a href="{{ path_for('homepage') }}">Home</a>
            <p>Already have an account?</p>
            <a href={{ path_for('login')  }}>Login</a>
        </fieldset>
    </form>
{% endblock %}