{% extends 'banner.html.twig' %}
{% block content %}
    <h1>{{ page_heading_1 }}</h1>
    <div id="inner-content-div">
        <form action="{{ action }}" method="{{ method }}">
            <label for="Message">Select an option below of message to be sent</label>
            <br><br>
            <label for="Temperature">Temperature (C)</label>
            <input type="text" id="Temperature" name="Temperature">
            <br><br>
            <label for="FanStatus">Fan Direction</label>
            <input type="radio" value="Forward" name="radioFan">
            <label for="Forward">Forward</label>
            <input type="radio" value="Reverse" name="radioFan">
            <label for="Reverse">Reverse</label>
            <br><br>
            <label for="KeyPad">Last Digit Entered</label>
            <input type="text" id="KeyPad" name="KeyPad" size="10">
            <br><br>
            <label for="Switch1">Switch 1</label>
            <input type="radio" value="switchOneON" name="radioSwitch1">
            <label for="SwitchOneON">ON</label>
            <input type="radio" value="switchOneOFF" name="radioSwitch1">
            <label for="SwitchOneOFF">OFF</label>
            <br><br>
            <label for="Switch2">Switch 2</label>
            <input type="radio" value="switchTwoON" name="radioSwitch2">
            <label for="SwitchTwoON">ON</label>
            <input type="radio" value="switchTwoOFF" name="radioSwitch2">
            <label for="SwitchTwoOFF">OFF</label>
            <br><br>
            <label for="Switch3">Switch 3</label>
            <input type="radio" value="switchThreeON" name="radioSwitch3">
            <label for="SwitchThreeON">ON</label>
            <input type="radio" value="switchThreeOFF" name="radioSwitch3">
            <label for="SwitchThreeOFF">OFF</label>
            <br><br>
            <label for="Switch4">Switch 4</label>
            <input type="radio" value="switchFourON" name="radioSwitch4">
            <label for="SwitchFourON">ON</label>
            <input type="radio" value="switchFourOFF" name="radioSwitch4">
            <label for="SwitchFourOFF">OFF</label>
            <br><br>
            <input type="submit" value="Send Message">
            <hr>
            <a href="{{ path_for('menu') }}">Menu</a>
        </form>
    </div>
{% endblock %}